<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="/stylesheets/test.css"         type="text/css"> -->
        <!-- <link rel="stylesheet" href="/stylesheets/hovereffects.css" type="text/css" /> -->
        <link rel="stylesheet" href="/stylesheets/main.css"              type="text/css">
        <link rel="stylesheet" href="/stylesheets/slideshow.css"              type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Fredericka+the+Great&display=swap" rel="stylesheet">
        <title>MyHomePage</title>
    </head>
    <body>
        <!-- Background Transition-->
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <div class="container text-center jumbotron landing-header">
            <div>
                <h1 id="hitext" class="display-4 box">Welcome on board, Martin!</h1>
                <iframe class="box" src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=large&timezone=Europe%2FBudapest" frameborder="0" seamless></iframe>
                <h3 class="box">"If you get up in the morning and think the future is going to be better, it is a bright day. Otherwise, it's not."</h3>
            </div>
            <div class="row first">
                <div class="col colstyle ">
                    <h2>Working Time</h2>
                </div>
                <div class="col colstyle ">
                    <h2>Always is your Friend</h2>
                </div>
                <div class="col colstyle ">
                    <h2>Chill Area</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-around rowtest"> <!--1.sor -->
                <div class="col-2 colstyle ">
                        <a href="https://calendar.google.com/calendar/r">
                        <img class="zoom"  src="img/calendar.png">
                    </a>
                </div>
                <div class="col-2 colstyle">
                    <a href="https://www.google.com/">
                        <img class="zoom" src="img/google.png">
                    </a>
                </div>
                <div class=" col-2 colstyle">
                    <a href="https://9gag.com/">
                        <img class="zoom" src="img/9gag.png">
                    </a>
                </div>
            </div> 

            <div class="row d-flex justify-content-around rowtest"> <!--2.sor -->
                <div class="col-2 colstyle ">
                        <a href="https://elearning.uni-obuda.hu/">
                        <img class="zoom"  src="img/moodle.png">
                    </a>
                </div>
                <div class="col-2 colstyle">
                    
                </div>
                <div class=" col-2 colstyle">
                    <a href="https://www.netflix.com/hu/">
                        <img class="zoom" src="img/netflix.png">
                    </a>
                </div>
            </div> 

            <div class="row d-flex justify-content-around rowtest"> <!--3.sor -->
                <div class="col-2 colstyle ">
                        <a href="https://neptun.uni-obuda.hu/hallgato/login.aspx">
                        <img class="zoom"  src="img/neptun.png">
                    </a>
                </div>
                <div class="col-2 colstyle">
                
                </div>
                <div class=" col-2 colstyle">
                    <a href="https://www.reddit.com/">
                        <img class="zoom" src="img/reddit.png">
                    </a>
                </div>
            </div> 

            <div class="row d-flex justify-content-around rowtest"> <!--4.sor -->
                <div class="col-2 colstyle ">
                        <a href="https://mail.google.com/mail/u/0/#inbox">
                        <img class="zoom"  src="img/gmail.png">
                    </a>
                </div>
                <div class="col-2 colstyle">

                </div>
                <div class=" col-2 colstyle">
                    <a href="https://ncore.cc/login.php">
                        <img class="zoom" src="img/torrent.png">
                    </a>
                </div>
        </div> 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>