<%- include ("partials/header") %>

<div class="container config" >
    <h1 class="text-center">Home Page Configuration</h1>
    <form action="/home"  method="post">
        <div class="row justify-content-center">
            <input name="config[name]" type="text" placeholder="How can I call you?">
        </div>
        <div class="row justify-content-center">
            <input name="config[quote]" type="text" placeholder="What's your favorite quote?">
        </div>
        <div class="row justify-content-center">
            <button>Submit</button>
        </div>
    </form>
</div>

<%- include ("partials/footer") %>