<!-- NOT IN USE -->

<%- include ("partials/header") %>

<div class="container">
    <h1></h1>
</div>


<!-- <h1>Userid List</h1>
<div class="container">
    <% User.forEach(function(User){ %>
        <div class="row">
            <p><%= User._id %>, <%= User.thisSetup %></p>
        </div>
    <% }); %>
</div> -->
<%- include ("partials/footer") %>


