<%- include ("partials/header") %>
<h1>Userid List</h1>
<div class="container">
    <% User.forEach(function(User){ %>
        <div class="row">
            <p><%= User._id %>, <%= User.thisSetup[0].name %></p>
        </div>
    <% }); %>
</div>
<%- include ("partials/footer") %>


