/* Régi böngészők miatt kell */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Bangers', cursive;
    /* font-size: 70px; */
    color: rgb(51, 51, 0);
}

img{
    padding: 20px;
    transition: transform .2s; /* Animation */
    width: 100px;
    height: 100px;
    margin: auto;
    object-fit: scale-down;
    display: block;
}

iframe{
    height: 50%;
    width: 50%;
}

.btn-lg{
    font-size: 25px;
    border-radius: 5px;
    padding:10px 50px;
}

ul.nav li a, ul.nav li a:visited{
    color:  rgb(51, 51, 0);;
}
.nav{
    height: 80px;
    background-color:  rgba(228, 225, 225, 0.5);
}
.navbtn{
    font-size: 1.3rem;
    border: 0;
    background-color: rgba(51, 51, 0, 0.5);
    margin-right: 20px;
    margin-left: 20px;
}

.jumbotron{
    margin-top: 50px;
    background: rgba(228, 225, 225, 0.5);
    box-shadow: 10px 10px 10px  rgb(51, 51, 0);
}

.box{
    background: rgba(51, 51, 0, 0.5);
    box-shadow: 10px 10px 10px;
    margin: 20px 0px 20px 0px;
}

#welcome{
    font-size: 60px;
    height: 20vh;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trademark{
    text-align: right;
    margin: 0px 10px 0px 10px;
}

.navbtn:hover{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: rgba(250, 255, 185, 0.5);
    border-radius: 10px;
}

/* HOVER EFFECT: https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
.col-2:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: rgba(250, 255, 185, 0.5);
    border-radius: 10px;
  }